@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono');

body {
  color: black;
  background-color: #fff;

  font-family: 'Roboto', sans-serif;

  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

section {
  display: flex;

  height: 80vh;

  justify-content: center;
  align-items: center;
}

nav ul {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;

  display: flex;

  width: 1000px;
  margin: 0 auto;
  padding: 15px 20px;

  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #fff;

  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: bolder;

  justify-content: space-between;
}

  h1 {
  position: absolute;
  /* display: flex; */

  margin-top: -450px;

  text-align: center;
  letter-spacing: 2px;

  color: #DE0D92;

  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  font-weight: 500;
  line-height: 150px;

  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;

  color: black;

}

a:visited {
  color: #DE0D92;
}

a:hover {
  color: #AF2BBF;
}

.pff {
  position: absolute;

  display: flex;

  margin-top: 500px;
  padding: 10px 10px;

  text-transform: uppercase;

  color: white;
  background-color: white;

  font-size: 30px;
}

.pff a:visited {
  color: #AF2BBF;
}

.pff a:hover {
  text-decoration: underline;
}

p {
  position: absolute;

  margin-top: -70px;

  color: #6564DB;

  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
